{% extends 'layout.html' %}

{% block content %}
<!----------------------------------------------  HEADER ---------------------------------------------->
<header class="header">
    <nav class="nav">
        <ul>
            <li><a class="menu" href="#inicio" onclick="seleccionar()">INICIO</a></li>
            <li><a class="menu" href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
            <li><a class="menu" href="#skills" onclick="seleccionar()">SKILLS</a></li>
            <div class="name">
                <h2 class="hola border" id="inicio">Andrea Elbittar</h2>
                <h2 class="wave">Andrea Elbittar</h2>
            </div>
            <li><a class="menu" href="#contacto" onclick="seleccionar()">CONTACTO</a></li>
            <li><a class="menu" href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
            <a href="#" class="buttoncv" download="#rutadelarchivo" target="_blank">
                Descargar CV
            </a>
            <div class="navigation">
                <div class="menuToggle"></div>
                <div class="menu"></div>
            </div>
        </ul>
    </nav>
</header>
<!----------------------------------------------  INICIO ---------------------------------------------->
<section>
    <div class="inicio" id="particles-js">
        <div class="banner">
            <h1 class="title">Andrea Elbittar</h1>
            <h2 class="description">Ingeniero de Sistemas - Full Stack Developer</h2>
            <div class="redes">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</section>
<!----------------------------------------------  SECCION SOBRE MI ---------------------------------------------->
<section class="seccion-about-me">
    <div class="about-me">
        <div class="contenedor">
            <div class="a">
                <h2>A</h2>
            </div>
            <div class="iam">
                <h2>Hi, I am <span>
                        Andrea Elbittar</span></h2>
                <div class="box-text">
                    <p>Hola, Mi nombre es Andrea Elbittar soy Ingeniero de 
                        Sistemas con una pasión por la programación y la tecnología
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="dato">
        <h2>Datos <br> Personales</h2>
        <hr class="line">
        </hr>
    </div>

    <div class="container">
        <div class="column">
            <div class="box">
                <h2>Educación</h2>
                <p>Instituto Universitario Politécnico "Santiago Mariño" <br>
                    Ingeniero de Sistemas </p>
            </div>
            <div class="box">
                <h2>EMAIL</h2>
                <p>Andreaelbittarl@gmail.com</p>
                <h2>DIRECCIÓN</h2>
                <p>Bogotá,Colombia</p>
            </div>
        </div>
        <div class="column">
            <div class="box center-box">
                <h2>experiencia</h2>
                <p>Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                    (N. del T.</p>
                <p class="prof"> Conoce mi perfil profesional</p>
                <a href="#" class="buttoncv" download="#rutadelarchivo" target="_blank">
                    Descargar CV
                </a>
            </div>
        </div>
    </div>
</section>
<!----------------------------------------------  SKILLS ---------------------------------------------->
<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2 class="titleseccion1">SKILLS</h2>
        <h2 class="titleseccion2">SKILLS</h2>
        <div class="fila">
            <!----------------------- Technical Skill ----------------------->
            <div class="titleskills">SKILLS</div>
            <div class="col">
                <h3>Technical Skills</h3>
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>89%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Photoshop</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>95%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Wordpress</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>81%</span>
                        </div>
                    </div>
                </div>
            </div>
</section>
<!----------------------- Professional Skills ----------------------->
<section class="skills" id="skills">
    <div class="contenido-seccion">
        <div class="fila2">
            <div class="titleskills2">SKILLS</div>
            <div class="col2">
                <h3>Professional Skills</h3>
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>89%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Photoshop</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>95%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Wordpress</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>81%</span>
                        </div>
                    </div>
                </div>
            </div>
</section>
<!----------------------------------------------  SECCION PORTFOLIO ---------------------------------------------->
<section id="portfolio" class="portfolio">
    <h2>PORTFOLIO</h2>

    <div class="galeria">
        {% for projects in projects %}

        <div class="proyecto">
            <a href="{{projects.url}}">
                <img src="{{projects.image.url}}" alt="{{projects.title}}">
                <div class="overlayportfolio">
                    <h3>{{projects.title}}</h3>
                    <p>{{projects.description}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<!---------------------------------------------- CONTACTO ---------------------------------------------->
<section id="contacto" class="contacto">
    <div class="contenido-contacto">
        <h2>CONTACTO</h2>
        <hr class="line-contact">
        </hr>
        <h1>CONTACTO</h1>
        <div class="fila">
            <!----------------------- Formulario ----------------------->
            <div class="col-form">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Dirección de correo">
                <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                <button class="buttoncontact">
                    Enviar Mensaje
                    <span class="overlay"></span>
                </button>
            </div>
</section>
<!----------------------- footer ----------------------->
<footer>
    <a href="#inicio" class="arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>
{% endblock %}