{% extends 'layout.html' %}

{% block content %}
<!----------------------------------------------  HEADER ---------------------------------------------->
<header class="header">
    <nav class="nav">
        <ul>
            <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
            <li><a href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
            <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
            <div class="name">
                <h2 class="hola border">Andrea Elbittar</h2>
                <h2 class="wave">Andrea Elbittar</h2>
            </div>
            <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
            <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
            <li><a href="#contacto" onclick="seleccionar()">CONTACTO</a></li>
            <div class="navigation">
                <div class="menuToggle"></div>
                <div class="menu"></div>
            </div>
        </ul>
    </nav>
</header>
<!----------------------------------------------  INICIO ---------------------------------------------->
<section id="inicio ">
    <div class="inicio" id="particles-js">
        <div class="banner">
            <h1 class="title">Andrea Elbittar</h1>
            <h2 class="description">Ingeniero de Sistemas - Full Stack Developer</h2>
            <div class="redes">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</section>
<!----------------------------------------------  SECCION SKILLS ---------------------------------------------->
<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills</h2>
        <h2>Skills</h2>
        <div class="fila">
            <!----------------------- Technical Skill ----------------------->
            <div class="titleskills">SKILLS</div>
            <div class="col">
                <h3>Technical Skills</h3>
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>89%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Photoshop</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>95%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Wordpress</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>81%</span>
                        </div>
                    </div>
                </div>
            </div>
</section>
<!----------------------- Professional Skills ----------------------->
<section class="skills" id="skills">
    <div class="contenido-seccion">
        <div class="fila2">
            <div class="titleskills2">SKILLS</div>
            <div class="col2">
                <h3>Technical Skills</h3>
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>89%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Photoshop</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>95%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Wordpress</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>81%</span>
                        </div>
                    </div>
                </div>
            </div>
</section>
{% endblock %}