/* TIPOGRAFIA
font-family: 'Anton', sans-serif;
font-family: 'Dorsa', sans-serif;
font-family: 'Notable', sans-serif;
font-family: 'WindSong', cursive;
*/ 
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
  }
  /*HEADER*/
  .header {
    background-color: #D9D9D9;
    width: 100%;
    height: max-content;
    margin-top: 1em;
    --nav: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  body{
    background: #F5F5F5;
  }
  .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
  }
  .menu{
    text-align: none;
    color: #191919;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-family: 'Dorsa', sans-serif;
    font-size: 3em;
  }
.buttoncv {
    transition-duration: 0.4s;
    font-family: 'Dorsa', sans-serif;
    padding: 3px 3px;
    margin: 3px;
    cursor: pointer;
    font-size: 40px;
    color: black;
    width: 10%;
}
.buttoncv:hover {
    background-color: #191919; 
    color: white;
}
  .name {
    display: flex;
    padding: 0em 0.5em;
    font-family: 'Dorsa', sans-serif;
    position: relative;
    letter-spacing:1px;
  }
  /*Animation*/
  h2 {
    font-size: 5em;
  }
  .hola{
    position: absolute;
  }
  .border {
    color:white;  
    text-shadow:
      -1px -1px 0 #D9D9D9, 
      1px -1px 0 #D9D9D9,
      -1px 1px 0 #D9D9D9,
      1px 1px 0 #D9D9D9; 
  }
  .wave {
    color: black;
    animation: wave 3s ease-in-out infinite;
  }
  @keyframes wave {
    0%, 100% {
      clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
  
    50% {
      clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }
  /*HOVER*/
  .menu:hover {
    text-decoration: none;
    --nav: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: all .1s;
    font-weight:600;
    letter-spacing:1px;
  }
  .menu:after {
    content: "";
    display: block;
    background-color: black;
    width: 100%;
    height: 2px;
    margin-top: 1px;
    clip-path: var(--nav);
    transition: clip-path .15s;
  }
  .navigation{
    display: none;
  }
  /* INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .inicio .banner{
    padding: 20px;
    background-color: #D9D9D9;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 250px;
    box-shadow: 0px 0px 60px 23px rgba(122,122,122,0.48);
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    height: max-content;
  } 
    .title{
    margin-top: 40px;
    font-size: 72px;
    font-family: 'Dorsa', sans-serif;
    color: black;
  }
  .description{
    font-size: 50px;
    font-weight: normal;
    font-family: 'Dorsa', sans-serif;
    color: black;
  }
  .redes a{
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
  }
  .redes a:hover{
    background-color: black;
    transition: .3s;
    color: white;
  }
  /* SKILLS */
.skills{
    width: 100%;
    color: #fff;
    padding-bottom:2.5em;
  }
  .contenido-seccion{
    max-width: 1100px;
    margin: auto;
  }
  .skills h2{
    font-size: 120px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color:black;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 3px;
  }
  .fila{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .fila2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col{
    width: 50%;
    margin-left: 60px;
  }
  .col2{
    width: 50%;
    margin-right: 60px;
  }
  .col h3{
    font-size: 90px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    color:black;
    font-family: 'Dorsa', sans-serif;
    letter-spacing:5px;
  }
  .col2 h3{
    font-size: 90px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    color:black;
    font-family: 'Dorsa', sans-serif;
    letter-spacing:5px;
  }
  .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color:black;
    font-family: 'Dorsa', sans-serif;
    font-size: 40px;
    letter-spacing: 1.5px;
  }
  .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
    border-radius: 8px
  }
  .progreso{
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    color: black;
    font-family: 'Dorsa', sans-serif;
    font-weight: bold;
  }
  .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #D9D9D9;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 30px;
  }
  /* Estas clases se agregaran dinamicamente mediante javascript */
  .javascript{
    width: 0%;
    animation: 2s javascript forwards;
  }
  @keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
  }
  .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
  }
  @keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
  }
  .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
  }
  @keyframes photoshop {
    0%{width: 0%;}
    100%{width: 95%;}
  }
  .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
  }
  @keyframes wordpress {
    0%{width: 0%;}
    100%{width: 81%;}
  }
  .drupal{
    width: 0%;
    animation: 2s drupal forwards;
  }
  @keyframes drupal {
    0%{width: 0%;}
    100%{width: 55%;}
  }
  .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
  }
  @keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
  }
  
  .skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
  }
  @keyframes trabajo {
    0%{width: 0%;}
    100%{width: 70%;}
  }
  .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
  }
  @keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
  }
  .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
  }
  @keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
  }
  .proyect{
    width: 0%;
    animation: 2s proyect forwards;
  }
  @keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
  }
  .titleskills{
    display: flex;
    transform: rotate(89.95deg);
    font-size: 60px;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: max-content;
    color:black;
    font-family: 'Notable', sans-serif;
    letter-spacing:5px;
  }
  .titleskills2{
    display: flex;
    transform: rotate(-90.11deg);
    font-size: 60px;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: max-content;
    color:black;
    font-family: 'Notable', sans-serif;
    letter-spacing:5px;
  }
  /*PORTFOLIO */
.portfolio{
    background-color: #979797;
    color: #fff;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
}
.portfolio h2{
    font-size: 60px;
    font-family: 'Notable', sans-serif;
    letter-spacing:5px;
    text-align: center;
    padding: 1em 0;
}
.galeria{
    width:100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom:3em;
    flex-wrap: wrap;
}
.proyecto{
    position: relative;
    max-width: 240px;
    height: fit-content;
    margin: 10px;
    cursor: pointer; 
}
.proyecto img{
    width: 100%;
    display: block;
    border-radius:50%;
}
.overlayportfolio{
    position: absolute;
    top: 0;
    width:100% ;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgb(120 126 125 / 80%), rgb(127 137 135 / 80%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    opacity: 0;
    border-radius:50%;
    font-family: 'Dorsa', sans-serif;
    color:
}
.overlay h3,p{
    margin-bottom: 20px;
    transition: 1s;
    color: white;
    font-size: 30px;
    letter-spacing:2px;
}
.overlay h3{
   text-transform: uppercase;
   font-size: 40px;

}
.overlay:hover{
    opacity: 1;
}
/* SECCION CONTACTO */
.contacto{
    color: #fff;
    padding: 50px 0;
}
.contenido-contacto{
    max-width: 1000px;
    margin: auto;
    border-radius: 20%;
}
.contacto h2{
    font-family: 'Notable', sans-serif;
    letter-spacing:5px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 60px;
}
.contacto h1{
    font-family: 'Notable', sans-serif;
    letter-spacing:5px;
    text-align: end;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.35);
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5)
}   
.contacto .fila{
    display: flex;
    margin-top: 20px;
}
.col-form{
    width: 50%;
    position: relative;
}
hr {
    height: 10px;
    margin-left: 50%;
    margin-right: 0%;
    background-color: black;
    border-radius:50%;
  }
.contacto .col-form input, .contacto .col-form textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 40px;
    letter-spacing:2px;
    font-family: 'Dorsa', sans-serif;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid  black;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: black;
    position: relative;
    z-index: 10;
}
.menu .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.menu:hover .overlay{
    width: 100%;
}
.col-form img{
    width: 100%;
}
.info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-swidth: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info ul{
    list-style: none;
}
.info ul li{
    margin-bottom: 20px;
}
.info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
/*FOOTER*/
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: black;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}